@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-gray-900;
  @apply text-white;
}

strong {
  /* @apply bg-green-700; */
  @apply text-green-700;
}

em {
  @apply bg-yellow-400;
  @apply not-italic;
}

a {
  /* @apply bg-blue-600; */
  @apply text-blue-600;
}

p {
  @apply pb-4;
}

.list-dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}